@{
    ViewBag.Title = "Home Page";
}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">IRCI</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOGIN <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="portfolio.html">LOGOUT</a></li>
                        <!-- <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap" style="height: 100vh">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="top: 50%; transform: translateY(50%);">
                <!-- <h3>Show your work with this beautiful theme</h3> -->
                <h1>Indonesia Research Citation Index</h1>
                <form action="" method="POST" accept-charset="utf-8">
                    <div class="input-group" id="costum-search-input">
                        <input type="text" class="  search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" style="background-color:#26657F; border-color: #26657F " type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->