@model IEnumerable<Irci.Entity.Profile>

@{
    ViewBag.Title = "SearchProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="headerwrap" style="padding-bottom: 5em">
    <div class="container">
        <h1>
            Profile Berhasil Digabung
        </h1>
    </div>
</div>
