@model IEnumerable<Irci.Entity.Profile>

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="headerwrap" style="padding-bottom: 5em">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="text-align: left; background-color: white">
                <div class="pull-left" style="height: 20em; padding: 2em;">
                </div>
                <div class="pull-left" style="display: inline-block; height:20em; padding: 2em;">
                    <h2>Buthoro Rahardjo</h2>
                    <p>Lecturer of Software Engineering, <a href="">Institut Teknologi Sepuluh Nopember</a></p>
                </div>
            </div>

            <div class="col-sm-12" style="background-color: white; padding: 3em ;text-align: left;margin-top: 3em; min-height: 100%">
                <div style="border-bottom: 1px solid black">
                    <h4>Rekomendasi Kasus Penggunaan Berdasarkan Skenario Naratif Menggunakan Teknologi Semantik</h4>
                    <p><a href="">Buthoro Rahardjo</a>, <a href="">R Fauzan</a></p>
                    <p>
                        Abstract Pada saat ini diagram kasus penggunaan sering digunakan dalam pendefinisian
                        kebutuhan sistem. Sebelum pembangunan diagram kasus penggunaan tersebut, seorang
                        sistem analis membuat sebuah skenario agar konsumen lebih mengerti tentang sistem yang
                    </p>
                </div>
                <div style="border-bottom: 1px solid black">
                    <h4>Rekomendasi Kasus Penggunaan Berdasarkan Skenario Naratif Menggunakan Teknologi Semantik</h4>
                    <p><a href="">Buthoro Rahardjo</a>, <a href="">R Fauzan</a></p>
                    <p>
                        Abstract Pada saat ini diagram kasus penggunaan sering digunakan dalam pendefinisian
                        kebutuhan sistem. Sebelum pembangunan diagram kasus penggunaan tersebut, seorang
                        sistem analis membuat sebuah skenario agar konsumen lebih mengerti tentang sistem yang
                    </p>
                </div>
                <div style="border-bottom: 1px solid black">
                    <h4>Rekomendasi Kasus Penggunaan Berdasarkan Skenario Naratif Menggunakan Teknologi Semantik</h4>
                    <p><a href="">Buthoro Rahardjo</a>, <a href="">R Fauzan</a></p>
                    <p>
                        Abstract Pada saat ini diagram kasus penggunaan sering digunakan dalam pendefinisian
                        kebutuhan sistem. Sebelum pembangunan diagram kasus penggunaan tersebut, seorang
                        sistem analis membuat sebuah skenario agar konsumen lebih mengerti tentang sistem yang
                    </p>
                </div>
            </div>
            <div class="col-sm-12" style="background-color: white; padding: 2em ;margin-top: 3em; min-height: 100%">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

@ViewBag.keyword