@{
    ViewBag.Title = "Home Page";
}

<!-- Custom styles for this template -->
@Styles.Render("~/Content/starter-template.css")

<div class="starter-template">
    <h1>Indonesia Research Citation Index</h1>
    <form class="form-inline" action="@Url.Action("Index", "SearchProfile")" method="get">
        <div class="form-group">
            <input type="text" class="form-control" id="search_query" aria-describedby="search_query" placeholder="">
            <button type="submit" class="btn btn-primary">Search</button>
            <small id="emailHelp" class="form-text center-text text-muted">Find your profile here!</small>
        </div>
    </form>
</div>