@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ini Halaman hasil Pencarian</h1>
<h1>Ini Halaman hasil Pencarian</h1>
<h1>Ini Halaman hasil Pencarian</h1>
<h1>Ini Halaman hasil Pencarian</h1>
<h1>Ini Halaman hasil Pencarian</h1>